$back-body-color: rgb(255, 255, 255);
$G-font: "Roboto", sans-serif;
$invert-color: invert($back-body-color);

body {
  background-color: $back-body-color;
  font-family: $G-font;
  font-weight: 400;
  font-size: large;
  margin: 0;
  .main {
    display: grid;
    justify-items: center;
    min-height: 100vh;

    @media only screen and (min-width: 600px) {
      width: 88vw;
      margin: 0 auto;
    }
    @media only screen and (min-width: 1440px) {
      border-left: 2px solid $invert-color;
      border-right: 2px solid $invert-color;
      width: 75vw;
      margin: 0 auto;
      padding: 0 5rem 0 5rem;
    }

    a {
      color: rgb(0, 0, 0);
    }
    .content {
      width: 100%;
    }
    .form {
      width: 100%;
      height: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      form {
        @media only screen and (max-width: 600px) {
          width: 90%;
        }
        width: 50%;
        input {
          width: 100%;
          font-size: xx-large;
          background-color: transparent;
          border: 0;
          border-bottom: 2px solid $invert-color;
          margin-bottom: 2px;
          outline: none;
        }
      }
    }

    .results {
      border-bottom: 2px solid $invert-color;
      margin: 1rem;

      // kanjis
      .bartop {
        font-size: xx-large;
        display: grid;
        grid-auto-flow: column;
        grid-row-gap: 1rem;
        align-items: self-end;
        // kanji
        .baritem {
          width: fit-content;
          font-size: xx-large;
          .reading {
            font-size: small;
          }
        }
      }
    }
    .sense {
      font-size: x-large;
      font-style: italic;
      margin: 1rem;
    }
    .gloss {
      font-weight: 200;
      font-style: large;
      font-size: medium;
    }

    .button {
      margin: 5rem;
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid $invert-color;
      }
    }
  }
}
